---
domainname: pypi-test.onec.me
admin_user: admin
admin_pass: $6$rounds=660040$kpd9dQ7qqI3Wovaw$FwD0dRT/9TMcMbBAr0HelBP5k11jXZqRl7xuMnaL3h.s9ppjC.WbCK2VYfFUANCOCKj9SX9WEdFdujgWXT9PP/
process_number: 8
secure_session: False
