[Unit]
Description=PyPICloud Server
After=network.target

[Service]
Type=idle
PIDFile=/home/{{deployment_name}}/app.pid
User=pypicloud
ExecStart=/home/{{deployment_name}}/venv/bin/uwsgi --ini-paste-logged /home/{{deployment_name}}/server.ini --http 127.0.0.1:{{port_number}} --pidfile /home/{{deployment_name}}/app.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
