[Unit]
Description=PyPICloud Server
After=network.target

[Service]
Type=idle
PIDFile={{deployment_path}}/{{deployment_name}}/app.pid
User=pypicloud
ExecStart={{deployment_path}}/{{deployment_name}}/venv/bin/uwsgi --ini-paste-logged {{deployment_path}}/{{deployment_name}}/server.ini --http 127.0.0.1:{{port_number}} --pidfile {{deployment_path}}/{{deployment_name}}/app.pid
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
